[Unit]
Description=PPD-to-TuneD API Translation Daemon (Rust)
Requires=tuned-rs.service
After=tuned-rs.service
Before=multi-user.target display-manager.target
Conflicts=tuned-ppd.service power-profiles-daemon.service

[Service]
Type=dbus
BusName=org.freedesktop.UPower.PowerProfiles
BusName=net.hadess.PowerProfiles
ExecStart=/usr/sbin/tuned-rs-ppd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target
